
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');


body {
  margin: 0;
  font-family: 'Lato',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#fff
}


h1.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom {
  font-family: 'Merriweather', serif;
  font-size: 1.9rem;
  font-weight: bolder;
}
h2.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{margin:30px 0px;}

.container{
  width:1200px;
  margin:0 auto;
}

.MTableToolbar-root-5{

  background: #e48787;
}

.MuiInputBase-input{
  background:#fff
}
.MuiTab-textColorInherit.Mui-selected{
opacity: 1;
background: rgb(226, 100, 90);
color: #fff;
background: rgb(226,100,90);
background: linear-gradient(90deg, rgba(226,100,90,1) 0%, rgba(219,93,121,1) 100%);
}

.logo svg{
  width:30px;
  fill:#fff;
}


.MuiAppBar-root{
  text-align: left;
}

.logo { padding:10px 20px; margin-left:30px}

.MuiToolbar-regular{
  color:#fff;
  background: rgb(226,100,90);
  background: linear-gradient(90deg, rgba(226,100,90,1) 0%, rgba(219,93,121,1) 100%);

}